.logo {
  width: 150px;
  height: auto;
  padding-top: 30px;
}

.chart-img {
  width: 450px;
  height: auto;
}

.teamPics {
  width: 150px;
  height: auto;
  border-radius: 50%;
}
.fb {
  width: 35px;
  height: auto;
  border-radius: 25%;
}

/*NAV BAR*/

.navbar-collapse.collapse.in {
  display: block !important;
}
.navbar-collapse.in {
  overflow-y: visible;
}

.navbar-brand {
  color: #a5a5a5;
}

html,
body {
  height: 100%;
}
body {
  background-image: url(../images/dumbbells.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

div,
body {
  margin: 0;
  padding: 0;
  font-family: exo, sans-serif;
}
.wrapper {
  height: 100%;
  width: 100%;
}
.signin {
  color: #a0a4b8;
  font-family: 'Trebuchet MS';
  font-style: bold;
  font-size: 25px;
  list-style-type: none;
}

/*ABOUT US*/

.cwtitle {
  display: top;
  text-align: center;
  font-weight: bold;
  font-size: 300%;
  font-family: 'Verdana';
  font-style: italic;
  opacity: 0.8;
  filter: alpha(opacity=50);
}
.cwtitle span {
  background-color: #a0a4b8;
  border: 5px solid black;
}
.aboutus {
  display: inline-block;
  padding: 25px;
  border: 5px solid black;
  background-color: #a0a4b8;
  margin: 10px;
  position: inline;
  font-family: 'Trebuchet MS';
  white-space: nowrap;
  width: 500px;
  height: auto;
  text-align: center;
  opacity: 0.8;
  filter: alpha(opacity=50);
}
.contentbox {
  color: white;
}
.mycontenttext {
  list-style-type: none;
}

.Dashboard {
  background: #a0a4b8;
  opacity: 0.8;
  filter: alpha(opacity=50);
}
.UserStats {
  padding-bottom: 125px;
}

.container {
  position: middle;
}
.textlayout {
  position: middle;
  padding-top: 50px;
  background-color: #a0a4b8;
  opacity: 0.8 !important;
  filter: alpha(opacity=50);
  list-style-type: none;
}
.betheanswer {
  position: middle;
}
.titles {
  text-align: center;
  padding-bottom: 10px;
  font-weight: 800;
  font-family: 'Trebuchet MS';
}
.contentp {
  font-family: 'Trebuchet MS';
  font-weight: 600;
}
