.logo {
  width: 350px;
  height: auto;
  padding-top: 30px;
}
.logo2 {
  width: 12em;
  height: auto;
  padding-right: 1em;
  padding-top: 0.5em;
}

.chart-img {
  width: 450px;
  height: auto;
}

.profilePic {
  border-radius: 100px;
}

.teamPics {
  width: 150px;
  height: auto;
  border-radius: 50%;
}
.fb {
  width: 35px;
  height: auto;
  border-radius: 25%;
}

/*NAV BAR*/

.navbar-inverse .navbar-nav > li > a {
  font-family: "Arial Black";
  font-style: "bold";
  font-size: 0.8em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.navbar-inverse .navbar-nav > li {
  display: inline-block;

  font: normal normal 300 1.3em "Open Sans";
  text-decoration: none;

  color: #0062cc;
  background-color: transparent;
  border: 1px solid #0062cc;
  border-radius: 100px;

  padding: 0.1em 1em;
  margin: 5px;

  background-size: 200% 100%;
  background-image: linear-gradient(to right, transparent 50%, #0062cc 50%);
  transition: background-position 0.3s cubic-bezier(0.19, 1, 0.22, 1) 0.1s,
    color 0.5s ease 0s, background-color 0.5s ease;
}

.navbar-inverse .navbar-nav > li:hover {
  color: rgba(255, 255, 255, 1);
  background-color: #0062cc;
  background-position: -100% 100%;
}

body {
  background-image: url(../images/dumbbells.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* 
div,
body {
  margin: 0;
  padding: 0;
  font-family: exo, sans-serif;
} */
.wrapper {
  height: 100%;
  width: 100%;
}
.signin {
  color: #a0a4b8;
  font-family: "Trebuchet MS";
  font-style: bold;
  font-size: 25px;
  list-style-type: none;
}
.nobullet {
  list-style-type: none;
}

/*    FRONT CARD */
.card {
  background-color: #a0a4b8;
  border: 5px solid black;
  opacity: 0.8;
  box-shadow: rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease-in-out;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-right: 20em;
  padding-left: 15em;
  padding-bottom: 3em;
  border-radius: 50px;
}
.cardnobackground {
  position: center;

  align-items: center;
  justify-content: center;
  text-align: center;
}
.card2 {
  background-color: #a0a4b8;
  border: 5px solid black;
  opacity: 0.8;
  box-shadow: rgba(0, 0, 0, 0.15);
  position: relative;
  transition: all 0.2s ease-in-out;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.card3 {
  background-color: #a0a4b8;
  border: 5px solid black;
  box-shadow: rgba(0, 0, 0, 0.15);
  position: relative;
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: inline-block;
  padding-left: 3em;
  padding-right: 3em;
  padding-bottom: 1em;
}

.card3:hover {
  opacity: 1;
}

.container3 {
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50;
  margin: auto;
  display: inline-block;
  font-weight: 200px;
  font-family: "Roboto";
  width: auto;
  display: block;
  padding-bottom: 75px;
}

.goalUpdate {
  padding-bottom: 125px;
}
.centerdash {
  padding-right: 250px;
}

.landingpage {
  position: center;

  margin: auto;
  display: inline-block;
  text-align: center;
}

.centerhomepage {
  margin: auto;
  display: inline-block;
  text-align: center;
  padding-bottom: 25px;
}

.contentp {
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 40px;
}

.workouts {
  font-weight: bold;
  font-size: 1em;
}

/*ABOUT US*/

.cwtitle {
  display: inline-block;
  text-align: center;
  padding: 0.5em;
  font-weight: bold;
  font-size: 300%;
  font-family: "Verdana";
  font-style: italic;
  opacity: 0.8;
  filter: alpha(opacity=50);
  border-radius: 50px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease-in-out;
  background-color: #a0a4b8;
  border: 5px solid black;
}

.cwtitle:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  opacity: 10;
}

.aboutus {
  display: inline-block;
  margin: auto;
  border: 5px solid black;
  background-color: #a0a4b8;
  margin: 7px;
  text-align: center;
  position: inline;
  font-family: "Trebuchet MS";
  white-space: nowrap;
  width: 500px;
  height: auto;
  opacity: 0.8;
  filter: alpha(opacity=50);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease-in-out;
  border-radius: 50px;
}
.aboutus:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  opacity: 10;
}
.contentbox {
  color: white;
}
.mycontenttext {
  list-style-type: none;
}

.Dashboard {
  background: #a0a4b8;
  opacity: 0.8;
  filter: alpha(opacity=50);
}
.UserStats {
  padding-bottom: 125px;
}

.container {
  position: middle;
}
.textlayout {
  position: middle;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #a0a4b8;
  opacity: 0.8 !important;
  filter: alpha(opacity=50);
  list-style-type: none;
}
.betheanswer {
  position: middle;
}
.titles {
  text-align: center;
  padding-bottom: 10px;
  font-weight: 800;
  font-family: "Trebuchet MS";
}
.contentp {
  font-family: "Trebuchet MS";
}
.titlesleft {
  padding-left: 20px;
  font-weight: 800;
  font-family: "Trebuchet MS";
}
.contentinfo {
  font-family: "Trebuchet MS";
  font-weight: 600;
  font-weight: bold;
  padding-top: 15px;
  text-align: left;
  padding-left: 20px;
  padding-right: 15px;
  padding-bottom: 15px;
}
.newnew {
  opacity: 0.8 !important;
  filter: alpha(opacity=50);
  background-color: #a0a4b8 !important;
  font-weight: 800;
}

* {
  box-sizing: border-box;
}

/* basic stylings ------------------------------------------ */

.container {
  font-family: "Roboto";
  width: 600px;
  margin: 30px auto 0;
  display: block;
  padding: 10px 50px 50px;
}
h2 {
  /* text-align: left; */
  margin-bottom: 50px;
}
h2 small {
  font-weight: normal;
  color: #888;
  display: block;
}
.footer {
  text-align: center;
}
.footer a {
  color: #53b2c8;
}

/* form starting stylings ------------------------------- */
.workouts {
  text-decoration: underline;
}
.group {
  position: relative;
  margin-bottom: 25px;
}
input {
  font-size: 18px;
  padding: 10px 10px 10px 1px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;

  opacity: 0.8;
}
input:focus {
  outline: none;
}

/* LABEL ======================================= */
.textinput {
  color: rgb(54, 54, 54);
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.inputtext {
  font-weight: bold;
  font-size: 18px;
}

/* active state */
input:focus ~ label,
input:valid ~ label {
  top: -20px;
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 300px;
}
.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264ae;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}

.mm-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  z-index: 1000;
  overflow: auto;
  display: none;
  background: rgba(0, 0, 0, 0.1);
}

.mm-popup--visible {
  display: block;
}

.mm-popup__close {
  position: absolute;
  top: 15px;
  right: 20px;
  padding: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
  outline: none;
  text-align: center;
  border-radius: 10px;
  border: none;
  text-indent: -9999px;
  background-size: 100%;
  margin: 0;
}

.mm-popup__input {
  display: block;
  width: 100%;
  height: 30px;
  border-radius: 3px;
  border: 1px solid #e9ebec;
  outline: none;
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  font-size: 14px;
  padding: 0 12px;
  color: #808080;
}

.mm-popup__btn {
  border-radius: 3px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
  margin: 0;
  line-height: 32px;
  height: 32px;
  border: 1px solid #666;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  color: #333;
  background: transparent;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
}

.mm-popup__btn--success {
  background-color: #27ae60;
  border-color: #27ae60;
  color: #fff;
}

.mm-popup__btn--danger {
  background-color: #c5545c;
  border-color: #c5545c;
  color: #fff;
}

.mm-popup__box {
  width: 300px;
  position: absolute;
  top: 10%;
  left: 30%;
  background: #f5f5f5;
  box-shadow: 0px 5px 20px 0px rgba(126, 137, 140, 0.2);
  border-radius: 5px;
  border: 1px solid #b8c8cc;
  overflow: hidden;
  z-index: 100;
}

.mm-popup:hover {
  opacity: 10;
}

.mm-popup__box__header {
  padding: 15px 20px;
  background: #edf5f7;
  color: #454b4d;
}

.mm-popup__box__header__title {
  margin: 0;
  font-size: 16px;
  text-align: left;
  font-weight: 600;
}

.mm-popup__box__body {
  padding: 20px;
  line-height: 1.4;
  font-size: 14px;
  color: #454b4d;
  background: #fff;
  position: relative;
  z-index: 2;
}

.mm-popup__box__body p {
  margin: 0 0 5px;
}

.mm-popup__box__footer {
  overflow: hidden;
  padding: 30px 10px 10px;
  background: #fff;
}

.mm-popup__box__footer__right-space {
  float: right;
}

.mm-popup__box__footer__right-space .mm-popup__btn {
  margin-left: 5px;
}

.mm-popup__box__footer__left-space {
  float: left;
}

.mm-popup__box__footer__left-space .mm-popup__btn {
  margin-right: 5px;
}

.mm-popup__box--popover {
  width: 300px;
  margin-left: -120px;
}

.mm-popup__box--popover .mm-popup__close {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
  outline: none;
  text-align: center;
  border-radius: 10px;
  border: none;
  text-indent: -9999px;
  background-size: 100%;
  margin: 0;
  z-index: 3;
}

.mm-popup__box--popover .mm-popup__box__body {
  padding: 20px;
}

@media (max-width: 420px) {
  .mm-popup__box {
    width: auto;
    left: 10px;
    right: 10px;
    top: 10px;
    margin-left: 0;
  }

  .mm-popup__box__footer__left-space {
    float: none;
  }

  .mm-popup__box__footer__right-space {
    float: none;
  }

  .mm-popup__box__footer {
    padding-top: 30px;
  }

  .mm-popup__box__footer .mm-popup__btn {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
}

.card {
  display: inline-block;
  opacity: 0.8;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  margin: 20px;
  position: relative;
  margin-bottom: 50px;
  transition: all 0.2s ease-in-out;
}

.card:hover {
  /*box-shadow: 0 5px 22px 0 rgba(0,0,0,.25);*/
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.image {
  opacity: 0.8;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

/* .image:hover,
.card:hover .image + .text {
  background-color: #a0a4b8;
  opacity: 10;
} */
.card:hover {
  background-color: none;
  opacity: 10;
}

.text {
  background: none;
  opacity: 0.8;
  min-height: 200px;
}

.text p {
  margin-bottom: 0px;
  text-align: center;
}

/* Q and A */

.QandABodyFont {
  font-size: 150%;
  border: 5px solid black;
  background-color: #a0a4b8;
  opacity: 0.8;
  filter: alpha(opacity=50);
}

.QandAHover:hover {
  background-color: black;
  color: white;
}

.btnwrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    135deg,
    rgb(87, 84, 234) 0%,
    rgb(109, 117, 236) 100%
  );
  display: "inline-block";
  border-radius: 45px;
}

.coolbtn {
  width: 12em;
  height: 2.5em;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #0062cc;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.coolbtn:hover {
  background-color: #0062cc;
  box-shadow: 0px 15px 20px rgba(2, 0, 119, 0.73);
  color: #fff;
  transform: translateY(-7px);
}
