.WeekCalendar {
  width: 1000px;
  height: auto;
  margin: 0 auto;
  outline: 1px solid gray;
}

/* workoutApi css ------------------------*/


.workoutApi{
  color: white
}


/* QandA CSS----------------------------- */

.QAfont{
  color: yellow
}

.QAtitle{
  color: white
}

.NQ{
  color: white
}

.mm-popup__box{
  width: 50em;
  justify-content: center;
}

.mm-popup{

}

.mm-popup.hover{
  opacity: 10;
}
