.update-profile {
  background: #a0a4b8;
  opacity: 0.8;
}

#one-rep-max {
  padding-left: 25px;
  font-weight: bold;
  font-size: 18px;
}
.currentweighttab {
  padding-left: 25px;
  font-weight: bold;
  font-size: 18px;
}
